.detail-title{
    display: flex;
    justify-content: space-between;
}
.detail-padding{
    margin: 10px 0px 10px 0px;
}
.detail-desc{
    margin: 24px 0px 20px 0px;
}
.detail-time{
    display: flex;
}
.detail-content{
    padding-left: 42px;
}